<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <link rel="stylesheet" href="/css/login.css" />
  </head>
  <body>
    <div class="container">
      <h1>오늘의 최애</h1>
      <div class="login-form">
        <form onsubmit="authenticate(event)">
          <input type="text" placeholder="아이디" name="user_id" required />
          <input
            type="password"
            placeholder="비밀번호"
            name="user_password"
            required
          />
          <input type="submit" value="로그인" class="btn" />
        </form>
        <a href="/sign/signup"><strong>회원가입</strong></a>
      </div>
    </div>
    <script src="/javascript/login.js"></script>
  </body>
</html>
